<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Face</title>
</head>
<body>
    <h2>Add Face</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_face') }}">
        <label for="face_image">Face Image:</label>
        <input type="file" name="face_image" accept="image/*" required><br>

        <input type="submit" value="Add Face">
    </form>
    <a href="{{url_for('manual')}}">
        <button>Go Back</button>
    </a>
</body>
</html>
