<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_face.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="">
    <title>Add Face</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h2><img src="{{ url_for('static', filename='logo_add.png') }}" alt="Logo" class="logo" id="logo">Add Face</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                    <li><a href="{{url_for('add_face')}}">ADD FACE</a></li>
                    <li><a href="{{ url_for('recorded_videos') }}">DOCUMENTATION</a></li>
                    <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                </ul>
            </nav>
        </div> <!-- navbar end -->

        <!--this table use to preview image choossen -->
        <main class="table">
          <div class="wrapper">   
                <div class="content">
                </div>
                <div id="cancel-btn"><i class="fas fa-times"></i></div>
                <div class="image-preview"><img id="preview-image" src=""></div>
                <div class="file-name" id="file-name-display"></div>
        
                <input id="default-btn" type="file" hidden>
         </div>
        </main>

        <!-- this table use to add image -->
        <div class="table2">
            <section class="table_header2">
                <h1>Input Face Data</h1>
            </section>
            <section class="table_body">
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_face') }}">
                    <label for="face_image"></label>
                    <input type="file" id="fileInput" onchange="uploadFile()" name="face_image" accept="image/*" required><br>
                    <p class="instruction">* Please rename your file with the real person name example: JohnDoe.png (*.jpg) (*.jpeg)</p>
                    <input type="submit" value="Add Face">
                </form>
                <div class="notif" >
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <p><span>&#10003;</span> {{ messages[0] }}</p>
                        {% endif %}
                    {% endwith %}
                </div>
            </section>
        </div>
        <a href="{{ url_for('manual') }}">
            <button class="back_btn">Go Back</button>
        </a>
    </div>

<script>
    // this script use to display image and filename before upload
    //preview start 
    function previewFile() {
        const preview = document.querySelector('#preview-image');
        const fileInput = document.querySelector('#fileInput');
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
        }
    }
    // preview end 
    
    //display filename start 
    function displayFileName() {
        const fileInput = document.querySelector('#fileInput');
        const fileNameDisplay = document.querySelector('#file-name-display');
        const file = fileInput.files[0];

        if (file) {
            fileNameDisplay.textContent = file.name;
        } else {
            fileNameDisplay.textContent = 'File name here';
        }
    }
    //display filename end

    // Trigger the function when file input changes
    document.querySelector('#fileInput').addEventListener('change', previewFile);
    // Trigger the function when file input changes
    document.querySelector('#fileInput').addEventListener('change', displayFileName);

</script>

</body>
</html>