<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eigenface Recognition</title>
</head>
<body>
    <h1>Eigenface Recognition</h1>
    
    <div>
        <img src="{{ url_for('video_feed_face_eigenface') }}" alt="Eigenface Recognition Feed" style="width: 100%; max-width: 800px;">
    </div>

    <script>
        // You can add JavaScript code here if needed
    </script>
</body>
</html>
