<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Manual</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <!-- navbar start -->
    <div class="container">
        <div class="navbar">
            <img src="{{url_for('static',filename='smartCCTV-logo.png')}}" class="logo">
            <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">HOME</a></li>
                    <li><a href="{{url_for('profile')}}">PROFILE</a></li>
                    <li><a href="{{url_for('add_face')}}">ADD FACE</a></li>
                    <li><a href="{{url_for('recorded_videos')}}">DOCUMENTATION</a></li>
                    <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        <!-- navbar end -->
        
        <!-- body start -->
        <div class="row">
            <div class="col">
                <h2></h2>
                <h1>Livestream Page</h1>
                <p>You can chose Livestream or Record at button below</p>
                    <button type="button" class="manual-btn"><a href="{{url_for('live')}}">Livestream</a></button>
                    <button type="button" class="back_btn"><a href="{{url_for('home')}}">Go Back</a></button>
                </div>
            </div>
         
    </div>
</body>

</html>