<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart CCTV Registration</title>
	<link rel="stylesheet" href="{{url_for('static',filename='registration.css')}}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<div class="wrapper">
		<form action="{{ url_for('register')}}" method="post">
			{% if message is defined and message %}
			<div class="error">{{ message }}</div>
			{% endif %}
			<div class="button-logout-container">
				<button type="button" class="btn-logout"><a href="{{url_for('login')}}">Go Back</a></button>
			</div>
			<h1>Smart CCTV Registration </h1>

			<div class="input-box">
				<div class="input-field">
					<input type="email" placeholder="Email" name="email" id="email" required>
					<i class='bx bxs-envelope'></i>
				</div>

				<div class="input-field">
					<input type="text" placeholder="Username" name="name" id="name" required>
					<i class='bx bx-user'></i>
				</div>


				<div class="input-field">
					<input type="password" placeholder="Password" name="password" id="password" required>
					<i class='bx bxs-key'></i>
				</div>

				<div class="input-field">
					<input type="password" placeholder="Admin Key" name="admin_key" id="admin_key" required>
					<i class='bx bx-id-card'></i>
				</div>
			</div>

			<div class="button-container">
				<button type="submit" class="btn">Register</button>
			</div>
			
			<br>
			
			<p>to get your admin key please 
			<a href="https://api.whatsapp.com/send?
			phone=089668343653&text=Halo, daftarkan diri anda sebagai admin ">Contact Us
			</a></p>

		</form>
	</div>
</body>

</html>